@import "../../styles/mixins";

.product-carousel {
  @include flex();
  margin: 3.75cqw 0;

  position: relative;

  h1 {
    font-size: clamp(1.25em, 2cqw, 2cqw);;
    font-weight: 600;
    letter-spacing: 0.35em;
  }

  .carousel--guide {
    margin: 0.5em 0 0.25em 0;
    padding: 0 1em;
    
    position: relative;
    @include flex(row);

    background-color: white;

    $range: 7px;
    @keyframes mouse {
      0% { transform: scale(1); }
      50% { transform: scale(1); }
      75% { transform: scale(1.15); }
      100% { transform: scale(1); }
    }
    @keyframes arrow {
      0% { transform: translateX(0px); }
      80% { transform: translateX(0px); }
      90% { transform: translateX($range); }
      100% { transform: translateX(0px); }
    }
    @keyframes arrow2 {
      0% { transform: translateX(0px); }
      60% { transform: translateX(0px); }
      70% { transform: translateX($range); }
      100% { transform: translateX(0px); }
    }
    @keyframes arrowR {
      0% { transform: translateX(0px); }
      80% { transform: translateX(0px); }
      90% { transform: translateX(-$range); }
      100% { transform: translateX(0px); }
    }
    @keyframes arrow2R {
      0% { transform: translateX(0px); }
      60% { transform: translateX(0px); }
      70% { transform: translateX(-$range); }
      100% { transform: translateX(0px); }
    }

    svg {
      margin: 0 -0.15em;
      color: var(--coral-2);
      width: clamp(18px, 1cqw, 1cqw);
      height: clamp(18px, 1cqw, 1cqw);

      &:nth-of-type(1) { animation: arrowR 1.5s ease-in-out infinite; }
      &:nth-of-type(2) { animation: arrow2R 1.5s ease-in-out infinite; }
      &:nth-of-type(3) {
        margin: 0 0.5em;
        width: clamp(20px, 1.4cqw, 1.4cqw);
        height: clamp(20px, 1.4cqw, 1.4cqw);
        color: var(--coral-1);
        animation: mouse 1.5s ease-in-out infinite;
      }
      &:nth-of-type(5) { animation: arrow 1.5s ease-in-out infinite; }
      &:nth-of-type(4) { animation: arrow2 1.5s ease-in-out infinite; }
    }

    &::before {
      @include pseudo(clamp(250px, 22.5vw, 22.5vw), 0.15em, var(--coral-2), 1);
      z-index: -1;
    }

    @media screen and (max-width: 500px) {
      margin: 0.5em 0 0 0;
      width: 20%;
      height: 0.15em;
      background-color: var(--coral-2);
      
      svg { display: none; }
      &::before { display: none; }
    }
  }

  .carousel--product-container {
    width: 85vw;
    height: fit-content;
    min-height: 50px;
    
    margin: 1.5em 0 0 0;
    padding: 0 2em;

    @include flex(row, center, flex-start);
    gap: 0 0.5em;
  }

  .carousel-fade {
    height: 100%;
    position: absolute;
  
    &:nth-of-type(1) {
      left: 7cqw;
    }
    &:nth-of-type(2) {
      right: 7cqw;
    }
  }

  button {
    padding: 1cqw 2.5cqw;
    font-size: clamp(14px, 1cqw, 1cqw);
  }
}