@import "../../styles/mixins";

.single--product-page {
  margin: 1rem;

  Link {
    margin-bottom: 1rem;
  }

  .single-product {
    div {
      width: 15rem;
      height: 15rem;
      img {
        width: 15rem;
        height: 15rem;
        object-fit: contain;
      }
    }
    h2 {
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      font-size: 1rem;
    }
    .product-price {
      margin-top: 1rem;
      font-size: 1.15rem;
      span {
        margin-right: 0.25rem;
      }
    }
    div {
      Button {
        font-size: 1.5rem;
      }
      .success-message {
        color: green;
      }
    }
  }
}
