@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./mixins";

:root {
  // Universal
  --white-1: white;
  --white-2: #FCFCFC;
  --white-3: #F7F7F7;
  
  --black-1: #1a1a1d;

  --coral-1: #F8635E;
  --coral-2: #FA9793;
  --coral-3: #FBB9B7;
  --coral-4: #FBD0CE;
  
  --black: rbg(35, 35, 35);

  // Navbar
  --navbar-background: white;

  // Header
  --header--hero-title: rgb(35, 35, 35);
  --header--hero-subtitle: rgb(65, 65, 65);
  
  --error: #EF4444;
  --confirm: #22C55E;
}

body {
  margin: 0;
  color: var(--black-1);
  font-family: "Montserrat", "Titillium Web", sans-serif;
}

hr {
  width: 100%;
  height: 1px;
  border: none;
  background-color: rgb(0, 0, 0, 0.1);
}

.btn {
  width: fit-content;
  max-height: 50px;
  padding: 1.25cqw 2cqw;

  @include flex();

  background-color: var(--coral-1);
  border-bottom: solid var(--coral-3) 4px;
  border-radius: 2px 2px 0 0;

  font-size: clamp(14px, 1cqw, 1cqw);
  font-weight: 600;
  letter-spacing: 2px;
  color: white;
  white-space: nowrap;
  
  transition: filter 150ms ease;

  &:hover { filter: brightness(0.9); }
  
  &.outlined {
    background-color: transparent;
    outline: solid var(--coral-3) 2px;
  
    border: none;
    border-radius: 2px;
  
    color: var(--coral-1);
  
    position: relative;
  
    &::after {
      @include pseudo(calc(100% - 5px), calc(100% - 5px), transparent, 1);
      border: solid var(--coral-1) 2px;
      border-radius: 2px;
      transition: all 150ms ease;
    }
  
    &:hover  {
      color: white;
      filter: brightness(1);
      &::after { background-color: var(--coral-1); z-index: -1; }
    }
  }
}
